body{
    margin: 0; 
    background-color: aquamarine;
    color: white;
    font-family: 'Courier New', Courier, monospace;
 }
 
 h1{
     margin: 0;
     background-color: rgb(233, 119, 119);
     font-weight: normal;
     text-transform: uppercase;
     text-align: center;
     font-size: 300%;
 }
 
 .rgbSpan{
     font-size: 200%;
 }
 
 .line{
     width: 100%;
     height: 40px;
     text-align: center;
     background-color: white;
     padding: 0;
 }
 
 .status {
     color: rgb(0, 0, 0);
     width: 20%;
     display:inline-block;
     font-weight: 900;
 }
 
 button{
     border: none;
     background: none;
     text-transform: uppercase;
     height: 100%;
     font-weight: 700;
     letter-spacing: 1px;
     color: black;
 }
 
 .mainBox {
     width: 600px;
     margin: 0 auto;
 }
 
 .box {
     width: 30%;
     background: white;
     padding-bottom: 30%; 
     margin: 1.66%;
     border-radius: 20px;
     float: left;
 }